.App {
  background-color: black;
  padding: 1rem;
  max-width: 80vw;
}

.mainCont {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 50rem;
  background-color: black;
  width: 90rem;
}
section {
  width: 50%;
  height: 90%;
  margin-right: 2rem;
}

h2,
h3,
h4 {
  color: white;
}

.btnGroup {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.btnGroup > button {
  background-color: white;
  color: black;
}
